// COLOR
$accentBg: #c3dafe;
$accentDefault: #7f9cf5;
$accentOnAccent: #ffffff;
$bgDefault: #ffffff;
$bgMuted: #f7fafc;
$bgSubtle: #edf2f7;
$buttonPrimaryBackground: #7f9cf5;
$buttonPrimaryText: #ffffff;
$cardBackground: #ffffff;
$fgDefault: #000000;
$fgMuted: #4a5568;
$fgSubtle: #a0aec0;
$shadowsDefault: #1a202c;
